@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM sans";
}

header{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 0 24px;
}

.btn-header{
    display: flex;
    justify-content: center;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    gap: 8px;
}


.header-nav{
    color: rgb(0, 0, 0);
    display: flex;
    gap: 50px;
}

.nav-de{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.flag-arg-img{
    width: 40px;
    cursor: pointer;
}


.header-span-account{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}
.header-span-account:hover{
cursor: pointer;
border: transparent;
}

.box1{
    justify-content: center;
    padding: 100px;
    margin: 50px;
    padding-left: 50px;
}


.color-numb{
    color: #683ee6;
}


.list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.price{
    padding: 20PX;
    flex-direction: column;
    display: flex;
}



.foot-g{
    padding: 20px;
}

.number{
    font-size: 30px;
    font-weight: bold;
}

.mes{
    font-weight: bold;
}

.btn{
    background-color: #683ee6;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    color: aliceblue;
    box-sizing: border-box;
    width: 200px;
    height: 58px;
    border: 0px;
}
.btn:hover{
    transition: 1s;
    background-color: #432698;
}


.hour{
    border: solid rgb(92, 89, 89);
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(230, 225, 235);
    font-size: 28px;
    border: 0px;
}


.img-header{
    width: 900px;
    display: flex;
    float: right;
    position: absolute;
    top: 120px;
    right: 20px;
}

