@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM sans";
}

header{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 0 24px;
    border: 1px solid rgb(164, 161, 161);
    box-shadow: 0px 2px 8px rgb(164, 161, 161);
    position: sticky;
    top: 0;
    background-color: white;
}

.nav-iz{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.btn-header{
    display: flex;
    justify-content: center;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    gap: 8px;
}

/* links del navegador */

.header-nav{
    display: flex;
    gap: 50px;
}
.header-nav a {
    color: black;
    text-decoration: none;
}

.header-nav a:hover{
transition: 0,3s;
text-decoration: none;
color: #848384;
}

.nav-de{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.flag-arg-img{
    width: 40px;
    cursor: pointer;
}


.header-span-account{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}
.header-span-account:hover{
cursor: pointer;
border: 1px solid rgb(212, 212, 212) ;
color: rgb(117, 116, 117);
}

.box1{
    justify-content: center;
    padding: 100px;
    margin: 50px;
    padding-left: 50px;
}

.section-div-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-div-text h1{
    font-size: 35px;
    max-width: 500px;
}

.section-div-text h2{
    font-size: 20px;
    font-weight: 500;
}

.color-numb{
    color: #683ee6;
}


.list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.price{
    padding: 20PX;
    flex-direction: column;
    display: flex;
}



.foot-g{
    padding: 20px;
}

.number{
    font-size: 30px;
    font-weight: bold;
}

.mes{
    font-weight: bold;
}

.btn{
    background-color: #683ee6;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    color: aliceblue;
    box-sizing: border-box;
    width: 200px;
    height: 58px;
    border: 0px;
}
.btn:hover{
    transition: 1s;
    background-color: #432698;
}


.hour{
    border: solid rgb(92, 89, 89);
    padding: 10px 15px;
    border-radius: 10px;
    background-color: rgb(230, 225, 235);
    font-size: 28px;
    border: 0px;
}


.img-main{
    display: flex;
    justify-content: end;
    align-items: flex-start;
    margin-top: -500px;
}

/*section-2*/

.section-container2{
    color: white;
    background-color: #1e1345 ;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.section-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 30px;
    
}


.section-title-container p{
    max-width: 800px;
    text-align: center;
    line-height: 1.5;
}

.section-cards-container{
    display: flex;
    background-color:  #1e1345;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    width: 1180px;
    max-width: 1180px;
}

.card-container{
    background-color: #301c6b;
    padding: 70px 40px;
    border-radius: 10px;
    flex: 1;
}

.card-container p{
    padding: 15px;
}

.section-btn{
    color: white;
    background-color: #683ee6;
    border-radius: 5px;
    border: transparent;
    padding: 15px 50px;
    cursor: pointer;
    margin-top: 25px;
    font-weight: bold;
}



